{% extends "biopsyclassification.html" %}

{% block content %}
<style>
    body {
        background-color: #EDE8E0;
        text-align: center;
        font-family: Georgia, serif;
        font-size: 16pt;
    }
    p {
        color: #4D473A;
        text-align: center;
        font-family: Georgia, serif;
        font-size: 14pt;
    }
</style>
<p>
    Введите Вашу почту для получения нового пароля:
  </p>
  <form action="" method="post">{% csrf_token %}
      {% if form.email.errors %} {{ form.email.errors }} {% endif %}
          <p>{{ form.email }}</p>
      <input type="submit" class="btn btn-default btn-lg" value="Получить пароль" />
  </form>
{% endblock %}
