body {
    background-color: #EDE8E0;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 16pt;
}
p {
    color: #4D473A;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 14pt;
}
form {
        color: #4D473A;
        margin-top: 10vh;
        text-align: center;
        font-family: Georgia, serif;
        font-size: 16pt;
        border-radius: 5px;
        margin-bottom: 22px;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #cfdcda;
    border: none;
    color: green;
    padding: 12px 30px;
    text-decoration: none;
    font-family: Georgia, serif;
    font-size: 16pt;
    cursor: pointer;
    border-radius: 5px;
}